div#upload-file-wrapper {
    display: flex;
    flex-direction: column;
    
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;

    width: 40vw;
    height: 40vw;

    background-color: var(--background-accent-color);
    border: 2px dashed #D9D9D9;
    border-radius: 90px;

    cursor: pointer;
}

img#upload-file-icon {
    width: 20%;
    height: auto;
}

div#upload-file-text-wrapper {
    display: flex;
    flex-direction: column;
}

div#upload-file-text-wrapper > * {
    text-align: center;
}

h3#upload-file-text-title {
    font-size: 1.8rem;
    padding-bottom: 15px;
}

h3#upload-file-text-meta {
    color: var(--font-meta-color);
    font-size: 1.4rem;
    font-weight: 400;
}

div#upload-file-uploaded-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

img#upload-file-uploaded {
    width: 30%;
    height: max-content;
}

div#upload-file-uploaded-layers {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
}

img.upload-file-uploaded-layer {
    justify-self: center;
    width: 80%;
    height: max-content;
}