@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  --background-main-color: #FDFDFD;
  --background-accent-color: #F8F9FF;

  --box-border-color: #D9D9D9;

  --font-meta-color: #656565;
}
